/build/*
/dist/*
/src/Ninject.Extensions.ChildKernel.5.0.ReSharper.user
/src/Ninject.Extensions.ChildKernel.5.1.TeamCity.user
/src/Ninject.Extensions.ChildKernel/_ReSharper.Ninject.Extensions.ChildKernel/*
/src/Ninject.Extensions.ChildKernel/obj/*
/src/Ninject.Extensions.ChildKernel.Test/obj/*
/src/_ReSharper.Ninject.Extensions.ChildKernel/*
/src/Ninject.Extensions.ChildKernel.Test/Ninject.Extensions.ChildKernel.Test.csproj.user
/src/Ninject.Extensions.ChildKernel/Ninject.Extensions.ChildKernel.csproj.user
/lib/Ninject/*.zip
/lib/Ninject/*/**
/src/Ninject.Extensions.ChildKernel.SilverlightTests/Bin
/src/Ninject.Extensions.ChildKernel.SilverlightTests/obj
/**/*.user

/src/Ninject.Extensions.ChildKernel.SilverlightTests/Ninject.Extensions.ChildKernel.SilverlightTests.csproj.user